*{
    margin:0;
    padding:0;

}
body{
    background-color:#91DDCF;
    text-align: center;
    
 }
 h1{
  font-size: 60px;
  text-shadow: 2px 2px beige;
 }
.container{
    height:70vh;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
  }

.game{
    height:60vmin;
    width:60vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
}
.box{
    height:18vmin;
    width:18vmin;
    border-radius:1rem;
    border:none;
    box-shadow:0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color: red;
    background-color:#E8C5E5 ; 
     /* #ffffc7 */
     /* :#F7F9F2 ;  */
}
#reset{
    padding:1rem;
    font-size:1.25rem;
    background-color: #191913;
    color:white;
    border-radius: 1rem;
    border:none;
    box-shadow: 2px 2px 6px 3px bisque;
}
 #new{
    padding:1rem;
    font-size:1.25rem;
    background-color: #191913;
    /* #191913; */
    color:white;
    border-radius: 1rem;
    border:none;
    box-shadow: 2px 2px 6px 3px bisque;
}
  #msg{
    color:#c70a81;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:7vmin;
    font-weight: bold;
    text-shadow: 2px 2px 3px #BC5A94;
  }

  .msg-container{
    height: 100vmin;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:2rem;

  }
  .hide{
    display: none;
  }